<div class="js-modal-title">Client infos</div>

<div class="js-modal-body">
  <%= simple_form_for @client do |f| %>
    <%= f.input :name %>
    <%= f.input :email %>
    <%= f.input :phone %>

    <div class="modal-footer">
      <%= link_to 'Cancel', '', class: 'btn-2', data: { dismiss: "modal" } %>

      <%= f.button :submit, class: 'btn-1', value: 'Send' %>
    </div>
  <% end %>
</div>
