<%# https://github.com/lewagon/awesome-navbars/blob/master/templates/_navbar_wagon_without_login.html.erb %>
<div class="navbar navbar-expand-sm navbar-lewagon <%= controller_name == 'pages' ? 'fixed-top' : '' %>">
  <%= link_to "/", class: "navbar-brand" do %>
    <%= image_tag "logo.png", alt: '', class: '' %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

    <%# Nota-bene --removed 'nav-item' bootstrap class to override a tags styling %>

      <% if user_signed_in? %>

        <li class="nav-item">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>

        <li class="nav-item active">
          <%= link_to "Events", events_path, class: "nav-link" %>
        </li>

      <% end %>

      <li class="nav-item">
        <%= link_to 'Create event', new_event_path, class: 'btn btn-1' %>
      </li>

      <% if user_signed_in? %>

        <li class="nav-item dropdown">
          <%#= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% if current_user.avatar.attached? %>
            <%= cl_image_tag current_user.avatar.key, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false, alt: "avatar" %>
          <% else %>
            <div class="avatar dropdown-toggle" style="background: white" id="navbarDropdown" data-toggle="dropdown" data-aria-haspopup="true" data-aria-expanded="false" alt="avatar">
              <%= current_user.name.first%>
            </div>
          <% end %>

          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <p class="dropdown-item">Hi <%= current_user.name %></p>
            <%= link_to "Profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>

      <% else %>

        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "nav-link" %>
        </li>

      <% end %>

    </ul>
  </div>
</div>
