<%= render '../views/shared/forms/form_top'%>

  <%= simple_form_for(@event) do |f| %>

    <%# If first instance of Event_categories is invalid
    Most likely means user is creating event for the first time %>
    <% if @event.event_categories.first.valid? %>

      <h2>Edit event</h2>
      <%= f.input :name, autofocus: true %>
      <%= f.association :venue, collection: Venue.all %>
      <%= f.input :starts_at %>
      <%= f.input :ends_at %>

    <% end %>

    <br>
    <h2>Price categories</h2>
    <div data-controller="event-category-add">

      <template data-target="event-category-add.template">
        <%= f.fields_for :event_categories, EventCategory.new, child_index: 'NEW_RECORD' do |form| %>
          <%= render 'event_categories/fields', form: form %>
        <% end %>
      </template>

      <%= f.fields_for :event_categories do |form| %>
        <%= render 'event_categories/fields', form: form %>
      <% end %>

      <div class="form-group col" data-target="event-category-add.links">
        <%= link_to '+ Add Category', class: '', data: { action: 'click->event-category-add#addField' } do %>
          + Add category
        <% end %>
      </div>

    </div>


    <%= f.submit :submit, class: 'btn-1' %>
  <% end %>

<%= render '../views/shared/forms/form_bottom'%>
