<div class="container justify-content-between">
  <h1 class="card-title">Upcoming events</h1>
    <% @events.each do |event| %>
      <%= link_to @event, :action => 'go' do %> <%# Not working yet %>
        <div class="card-stripe">
          <div class="flex-container">
            <div class="flex-item img">
              <%= image_tag "placeholderpfp.jpg" %>
            </div>
            <div class="card-content">
              <h2 ><%= link_to event.name, event %></h2>
              <p><%= event.venue.name %></p>
            </div>
            <div class="card-date">
              <p> <%= event.starts_at %></p>
              <p> <%= event.ends_at %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>

    <div class="d-flex justify-content-center p-3">
        <%= link_to root_path, method: :get, class: 'btn-2 mr-3' do %>
          Go back
        <% end %>
    </div>
</div>
