<% relative_time = @event.starts_at > Time.now ? "in #{time_ago_in_words(@event.starts_at)}" : "#{time_ago_in_words(@event.starts_at)} ago" %>

<div class="container justify-content-between">
  <p class="font-weight-light mb-2 text-muted"><%= @event.starts_at.strftime("%A, %B %d, %Y") %> &thinsp; | &thinsp; <%= relative_time(@event) %></p>
  <div class="d-flex align-items-center justify-content-between">
    <h1 class="flex-grow-1"><%= @event.name %></h1>
    <% if Time.now > @event.starts_at - 2 * 60 * 60 && Time.now < @event.ends_at + 60 * 60 %>
      <div class="text-danger mr-4 uppercase">
        <span class="spinner-grow spinner-grow-sm" role="status"></span>
        <span style="letter-spacing: 1px;">&thinsp;LIVE</span>
      </div>
    <% else %>
      <!-- Just for testing - remove this -->
      <div class="text-danger mr-4 uppercase">
        <span class="spinner-grow spinner-grow-sm" role="status"></span>
        <span style="letter-spacing: 1px;">&thinsp;LIVE</span>
      </div>
      <!-- End here -->
      <%= link_to 'Edit event', edit_event_path, class: 'btn-2 mr-3' %>
    <% end %>
  </div>
  <p class="mb-1 text-muted"><%= @event.tickets.count %> tickets sold (<%= percentage_sold(@event) %>% of inventory) &thinsp; | &thinsp;<%= total_revenue(@event) %>€ sold</p>
  <div class="progress progress-thin">
    <div class="progress-bar" role="progressbar" style="width: <%= percentage_sold(@event) %>%;" aria-valuenow="<%= percentage_sold(@event) %>" aria-valuemin="0" aria-valuemax="100"></div>
  </div>

  <div class="row mt-5 d-flex justify-content-between">
    <div class="col-sm-12 col-lg-5 mb-5">
      <div class="categories-progress text-muted">
        <% @event.event_categories.each do |category| %>
          <div class="mb-4">
            <div class="d-flex justify-content-between">
              <span class="ps-3"><%= category.name %></span>
              <!-- <span class="flex-grow-1 bottom-dotted mx-3"></span>-->
              <span class="pe-3"><%= category.price %>€</span>
            </div>
            <div class="progress progress-fat rounded-pill">
              <div class="progress-bar" role="progressbar"
                style="width: <%= category.percentage_sold %>%;"
                aria-valuenow="<%= category.percentage_sold %>"
                aria-valuemin="0" aria-valuemax="100"><%= revenue(category) %>
              </div>
            </div>
            <div class="progress-info d-flex justify-content-between pt-2">
              <div class="small ps-3"><%= "#{category.tickets.count} sold / #{category.percentage_sold}%" %></div>
              <div class="font-weight-light small pe-3"><%= category.capacity - category.tickets.count %> to go</div>
            </div>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-sm-12 col-lg-6">
    <!-- Copy link -->
      <!--  <div class="d-flex align-items-center">
        <span class="bg-light px-2 rounded mr-2">https://www.tixfix.xyz/events/237</span>
        <span class="badge rounded-pill bg-danger text-white">Copy link</span>
      </div>-->

      <div class="venue-location">
        <div id="map" style="width: 100%; height: 300px;" data-markers="<%= @marker.to_json %>" data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="venue-address d-flex mt-3 align-items-center">
          <div class="mr-3 text-primary"><i class="fas fa-map-marker-alt fa-2x"></i></div>
          <div class="flex-grow-1">
            <p class="mb-0"><%= @event.venue.name %></p>
            <p class="font-weight-light text-muted mb-0"><%= @event.venue.address %></p>
          </div>
        </div>
      </div>

      <div class="venue-map">
        <% if @event.venue_map.attached? %>
          <%= cl_image_tag @event.venue_map.key, height: 300, width: 400, crop: :fill, alt: "venue map" %>
        <% elsif @event.venue.map.attached? %>
          <%= cl_image_tag @event.venue.map.key, height: 300, width: 400, crop: :fill, alt: "venue map" %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-end mt-5 mb-5">
    <%= link_to 'Go Back', events_path, method: :get, class: 'btn-2 mr-3' %>
    <%= link_to 'See Orders', event_orders_path(@event.id), method: :get, class: 'btn-2 mr-3' %>
    <%= link_to '+ New Order', new_event_order_path(@event.id), method: :get, class: 'btn-1 mr-3' %>
  </div>
</div>

<% if @event.image.attached? %>
  <%= cl_image_tag @event.image.key, height: 300, width: 400, crop: :fill, alt: "event flyer" %>
<% end %>
