<div class="container">
  <div class="row">
    <div class="col-12 col-lg-10 offset-lg-1 bg-white rounded-lg p-3 mt-3 mb-5">

      <%= link_to event_path(@event.id), method: :get, class: '' do %>
        <h1><%= @event.name %></h1>
      <% end%>
      <h2><%= @event.starts_at.strftime("%a %-d %b %y, %-k:%M") %></h2>
      <h1>Orders</h1>


      <table class="table table-striped mt-3 mb-3">

        <thead class="thead-light">
          <tr>
            <th scope="col">#id</th>
            <th scope="col">Date</th>
            <% @event.event_categories.each do |category| %>
              <th scope="col">
                <%= category.name %>
                (€<%= category.price %>/p)
              </th>
            <% end %>
            <th>Order total</th>
          </tr>
        </thead>

        <tbody>

          <tr>
            <th>Sum</th>
            <th><%=  Time.now.strftime("%a %-d %b %y") %></th>
              <% @event.event_categories.each do |category| %>
                <th><%= category.tickets.count %></th>
              <% end %>
            <th>€<%= total_revenue(@event) %></th>
          </tr>

          <% @event.orders.each do |order| %>
            <tr>
              <th scope="row">
                <%= order.id %>
              </th>
              <th>
                <%= order.created_at.strftime("%a %-d %b %y") %>
              </th>
              <% @event.event_categories.each do |category| %>
                <th>
                  <%= order.inventory[category.id] %>
                </th>
              <% end %>
              <th>
                €<%= order.tickets.map { |ticket| ticket.event_category.price }.sum %>
              </th>
            </tr>
          <% end %>

        </tbody>
      </table>

      <div class="d-flex justify-content-end">
        <%= link_to event_path(@event.id), method: :get, class: 'btn-2 mr-3' do %>
          Back to Event page
        <% end %>

        <%= link_to '', method: :get, class: 'btn-2 mr-3' do %>
          Back to Top
        <% end %>
      </div>

    </div>
  </div>
</div>
