<!DOCTYPE html>
<html>
  <head>
    <title>TixFix 🎟 – Your tix, our fix</title>
    <!-- DEFAULT SETTINGS -->
    <meta charset='UTF-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name='description' content='Digital ticketing app'>
    <!-- STANDARD RAILS SECURITY FEATURES -->
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag %>
    <!-- GOOGLE FONTS -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;500;800&family=Roboto:wght@100;300;500&display=swap" rel="stylesheet">
    <!-- STYLE LINKS -->
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>
  </head>

  <body>

    <%= render 'shared/navbar' %>

    <div class="d-flex flex-column min-vh-100" id="<%= controller_name %>-<%= action_name %>">
      <div class="flex-grow-1" id="page-content">
        <%= yield %>
      </div>
      <%= render 'shared/flashes' %>
      <%= render 'shared/footer' %>
    </div>

  </body>
</html>
